
#app {
    font-family : 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    text-align: center;
    color: #2C3350;
    margin-top : 60px;
    padding-left: 10%;
    padding-right : 10%;
}

.sign-out-btn {
    position : absolute;
    text-align: right;
    top: 60px;
    right : 40px;
}

.form {
    padding-left: 10%;
    padding-right: 10%;
}

.event-card {
    border: solid 2px #2C3E50;
    margin-top: 10px;
    border-radius: 4px;
}